In [13]:
import pandas as pd

def xymaker(df):
    df["long"] = df["long"].round(5)
    df["lat"] = df["lat"].round(5)
    
    unique_df = df.drop_duplicates(subset=["long", "lat"])
    return unique_df[["long", "lat"]].values.tolist()

In [14]:
import pandas as pd

def xymaker(df):
    df["long"] = df["long"].round(5)
    df["lat"] = df["lat"].round(5)
    
    unique_df = df.drop_duplicates(subset=["long", "lat"])
    return unique_df[["long", "lat"]].values.tolist()

In [15]:
import pandas as pd

def xymaker(df):
    df["long"] = df["long"].round(5)
    df["lat"] = df["lat"].round(5)
    
    unique_df = df.drop_duplicates(subset=["long", "lat"])
    return unique_df[["long", "lat"]].values.tolist()

In [16]:
home_data = pd.read_csv("main.csv")

home_list = xymaker(home_data)

home_list[1:10]

/tmp/ipykernel_558042/886316247.py:1: DtypeWarning: Columns (10,13,14,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  home_data = pd.read_csv("main.csv")

[[127.05609, 37.48463],
 [127.07613, 37.49629],
 [127.05785, 37.48029],
 [127.06903, 37.48791],
 [127.07087, 37.48914],
 [127.03827, 37.51509],
 [127.02898, 37.51386],
 [127.03842, 37.50953],
 [127.05885, 37.49664]]

In [17]:
omakase_list = [
 [126.9827, 37.5641],
 [126.995, 37.5615],
 [127.0286, 37.5245],
 [127.0347, 37.5238],
 [127.035, 37.525],
 [127.034, 37.5255],
 [127.0345, 37.5235],
 [127.063, 37.51],
 [127.0348, 37.5252],
 [127.0346, 37.5239],
 [127.0349, 37.5237],
 [127.0341, 37.5253],
 [127.0342, 37.5251],
 [127.0344, 37.5236],
 [127.0343, 37.5238],
 [127.048, 37.503],
 [127.0, 37.535],
 [127.034, 37.524],
 [127.098, 37.511],
 [127.0276, 37.4979],
 [126.9768, 37.5715],
 [126.993, 37.49],
 [126.9935, 37.4905],
 [126.954, 37.542],
 [126.922, 37.602],
 [126.924, 37.521],
 [126.867, 37.529],
 [127.0345, 37.5254],
 [127.0346, 37.5255],
 [127.0347, 37.5256],
 [127.034, 37.523],
 [126.89, 37.577],
 [126.993, 37.49],
 [126.9931, 37.4901],
 [127.0341, 37.5241],
 [126.925, 37.525],
 [127.065, 37.62],
 [126.91, 37.58],
 [126.99, 37.49],
 [126.944, 37.56],
 [127.034, 37.525],
 [127.021, 37.517],
 [127.037, 37.561],
 [127.0, 37.535],
 [127.034, 37.524],
 [127.034, 37.525],
 [127.034, 37.524],
 [127.034, 37.524],
 [127.034, 37.523]
]

In [18]:
import math

def haversine(lat1, lon1, lat2, lon2):
    R = 6371.0
    
    lat1_rad = math.radians(lat1)
    lon1_rad = math.radians(lon1)
    lat2_rad = math.radians(lat2)
    lon2_rad = math.radians(lon2)

    dlat = lat2_rad - lat1_rad
    dlon = lon2_rad - lon1_rad
    
    a = math.sin(dlat / 2)**2 + math.cos(lat1_rad) * math.cos(lat2_rad) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    
    distance = R * c
    return distance

In [19]:
from collections import defaultdict

def count_apartments_within_range(apt_coords, reference_coords, distance_threshold):
    # 아파트 좌표별로 근접한 기준 좌표 수를 기록할 딕셔너리
    count_dict = defaultdict(int)

    for apt_lat, apt_lon in apt_coords:
        for ref_lat, ref_lon in reference_coords:
            distance = haversine(apt_lat, apt_lon, ref_lat, ref_lon)
            if distance <= distance_threshold:
                count_dict[(apt_lat, apt_lon)] += 1  # (long, lat) 순으로 저장

    return count_dict

In [20]:
results = count_apartments_within_range(home_list, omakase_list, 3)

In [ ]:
apt_coords = home_list # (lat, long)
reference_coords = omakase_list  # 기준 좌표 리스트

# 근접 개수 계산
count_dict = count_apartments_within_range(apt_coords, reference_coords, 3)

home_data['오마카세'] = home_data.apply(lambda row: count_dict.get((row['long'], row['lat']), 0), axis=1)

In [ ]:
home_data['오마카세'].value_counts()

1     388866
0     182535
2     143530
3      77167
4      50348
6      49227
5      49052
29     26365
28     24848
34     19480
30     16793
31     14916
26     12444
27     11713
7      11522
33      8377
11      7521
25      6478
9       4521
12      4140
36      4032
8       3081
10      2367
32      2330
22      2323
35      2028
23       565
17       432
15       429
24       230
16       130
20       118
13       118
18       112
37        47
14        12
19         1
Name: 오마카세세, dtype: int64

In [ ]:
home_data.groupby("오마카세")["target"].mean()

오마카세세
0      45177.498167
1      45089.050845
2      54479.268738
3      59314.949421
4      60022.548403
5      57346.741907
6      61466.069068
7      75281.383440
8      77965.033106
9     123009.844725
10    151446.385298
11    138258.745513
12    104704.769082
13     65790.847458
14     33325.000000
15     44792.053613
16     63432.692308
17     94562.018519
18     50102.678571
19     41500.000000
20     74127.576271
22     89524.799828
23     57639.061947
24     71602.413043
25     59911.931923
26     80356.866442
27    128140.115854
28     93255.218609
29     92979.621771
30     86800.192104
31     74851.828909
32     94487.708584
33    138326.083920
34    111236.197998
35     92744.932939
36    151829.480159
37    170336.170213
Name: target, dtype: float64

In [ ]:
correlation = home_data["오마카세"].corr(home_data["target"])
print(f"상관계수: {correlation}")

상관계수: 0.378911944410689